<input type="checkbox" id="menu-toggle" />

<div class="main-content">
  <main>
    <div class="page-header">
      <h1>Dashboard</h1>
      <small>Home / Dashboard</small>
    </div>

    <div class="page-content">
      <div class="records table-responsive">
        <div class="record-header">
          <div class="add">
            <span>Entries</span>
            <select name="" id="">
              <option value="">ID</option>
            </select>
            <button>Add record</button>
          </div>

          <div class="browse">
            <input type="search" placeholder="Search" class="record-search" />
            <select name="" id="">
              <option value="">Status</option>
            </select>
          </div>
          <div>
            <button routerLink="add">Add Category</button>
          </div>
        </div>

        <div>
          <table width="100%">
            <thead>
              <tr>
                <th>STT</th>
                <th>NAME</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let product of categories; index as i" >
                    <td>{{i + 1}}</td>
                    <td>{{product.name}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="onHandleRemove(product._id)">Remove</button> 
                        <button class="btn btn-primary"><a [routerLink]="['edit/'+ product._id]" style="color: aliceblue;">Edit</a></button>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>
