<div class="container">
    <h1>Thông tin cá nhân</h1>
    <div class="profile">
      <img class="profile-img" src="https://img.lovepik.com/free-png/20211130/lovepik-cartoon-avatar-png-image_401205251_wh1200.png" alt="Avatar">
      <div class="profile-info">
        <h2>Nguyễn Văn A</h2>
        <p>Web Developer</p>
      </div>
    </div>
    <div class="profile-details">
      <label>Email:</label>
      <p>example@gmail.com</p>
    </div>
    <div class="profile-details">
      <label>Điện thoại:</label>
      <p>0123456789</p>
    </div>
    <div class="profile-details">
      <label>Địa chỉ:</label>
      <p>Hà Nội, Việt Nam</p>
    </div>
  </div>